# NOTE: NODE_ENV should equal "production" if deploying on render.
# system
PORT=8000
NODE_ENV=development
CORS_ORIGINS=http://localhost:8000,http://localhost:5173,your_web_origins,including-your-deployment-platform-origins

# openai
OPENAI_API_KEY=your_api_key
OPENAI_URL=your_base_url
OPENAI_MODEL=your_ai_model